.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 50vh;
  width: 50vh;
  border: 5px solid black;
  font-size: 70px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

.box {
    height: 30%;
    width: 30%;
    border: 2px solid black;
}

.endgame{
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63,0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.replay{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 20px;

}